html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
:root{
  --main-bg-color: #FFF;
}
body{
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  gap: 20px;
  background-color: var(--main-bg-color);
}
#winningScreen{
  display:none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items:center;
  flex-direction:column;
  background-color: rgba(0,0,0,0.4);
  color: white;
  z-index: 1;
}
#winningScreen > h1{
  font-size: 3rem;

}
header{
  position: fixed;
  display: block;
  top: 0;
  width: 100vw;
  text-align: center;
}
header > h1{
  font-size: 4rem;
  margin-bottom: 1.5rem;
}
header > button{
  margin-bottom: 1rem;
}
header > p{
  font-size: 2rem;
}
main{
  display:block;
  margin: auto;
}
#gameBoardCon{
  display: grid;
  grid-template-columns: repeat(7,3rem);
  gap: .5rem;
  justify-content: center;
  align-items: center;
  width: 25rem;
  background-color: blue;
  padding: .3rem;
  border-radius: 2rem;
}
#gameBoardCon > * {
  border-radius: 2rem;
  background-color: var(--main-bg-color);
}
.empty{
  width: 3rem;
  height: 3rem;
  border: 1px solid black;
}
.empty:hover{
  cursor: pointer;
}
footer{
  position: fixed;
  width: 100vw;
  text-align: center;
  bottom:0;
}